.operation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-direction: column;
    background-color: green;
    margin: 15px;
    width: 80%;
    &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        &_dropdown{
            &_content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                &_type{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &_category{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &_note{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                &_btn{
                        
                }
            }
        }
    }
}