.notfound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    .notfound__icon{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .notfound__text{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .notfound__link{
        color: #333;
        text-decoration: none;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }
    }
}